/* THIS FIRST LINE IS A REQUIREMENT FROM BOOTSTRAP TO FIX AN ISSUE ON ANGULAR WITH EMPTY HREF ATTR IN LINKS */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
/* END OF BOOTSTRAP FIX */

.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0;
}

.no-float {
    float: none;
}

.hideme {
    display: none !important;
}

.showme {
    display: block !important;
}

ul {
    margin: 0;
}

body {
    font-family: $default_font_family;
    font-size: $default_font_size;
    color: $default_font_color;
}

div.views-container {
    background-color: #000;
    
    .posts-tabs-container {
        
        .nav-tabs {
            border: none;
            border-bottom: 1px solid $p700;
        }
        .nav-tabs .uib-tab {
            
            a {
                color: #fff;
                font-size: 11pt;
                outline: 0;
            }
            
            a:hover {
                background-color: transparent;
                border: none;
            }

            &.active a {
                color: $i200;
                font-weight: bold;
                background-color: transparent;
                border: none;
                border-bottom: 3px solid $p500;
            }
        }
    }
}