/* THIS FIRST LINE IS A REQUIREMENT FROM BOOTSTRAP TO FIX AN ISSUE ON ANGULAR WITH EMPTY HREF ATTR IN LINKS */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
/* END OF BOOTSTRAP FIX */

.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0;
}

.no-float {
    float: none;
}

.hideme {
    display: none !important;
}

.showme {
    display: block !important;
}

ul {
    margin: 0;
}

body {
    font-family: $default_font_family;
    font-size: $default_font_size;
    color: $default_font_color;
}

div.views-container {
    background-color: #000;
    
    .posts-tabs-container {
        
        .nav-tabs {
            border: none;
            border-bottom: 1px solid $p700;
        }
        .nav-tabs .uib-tab {
            
            a {
                color: #fff;
                font-size: 11pt;
                outline: 0;
            }
            
            a:hover {
                background-color: transparent;
                border: none;
            }

            &.active a {
                color: $s200;
                font-weight: bold;
                background-color: transparent;
                border: none;
                border-bottom: 3px solid $p500;
            }
        }
    }
}

.fab-icon {
    cursor: pointer;
    color: #fff;
    font-size: 24px;
    background-color: $p500;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    width: 56px;
    height: 56px;
    padding:15px 17px;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .4s ease-in-out;
    
    &:hover {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        background-color: $pa400;
    }
}