nav.navbar {
    background-color: $s500;
    color: #fff;
    border-radius: 0;
    margin-bottom: 0;
    
    .navbar-header {
        padding: 15px 0 15px 15px;
        
        a {
            font-size: 15pt;
            color: #fff;
            text-decoration: none;
            outline: 0;
        }
    }
    
    .icon-list {
        list-style: none;
        padding: 17px 0;
        width: 145px;
        float: right;
        
        .icon-item {
            float: right;
            cursor: pointer;
            width: 45px;
            padding: 0 10px;
            
            .icon {
                font-size: 20px;
            }
        }
    }
    
    .search-form { 
        padding: 12px 0;
        float: right;
        
        .form-group {
            margin-bottom: 0;
        }
        
        .search-input {
            color: $p500;
            background-color: #fff;
            font-size: 11pt;
        }
    }
}