ul.posts {
    padding: 0 15px;
    
    .load-more-posts {
        list-style-type: none;
        padding: 10px 10px 25px;
        text-align: center;
        
        .load-more-icon {
            position: absolute;
            top: -38px;
        }
    }
}

ul.posts li.post {
    list-style-type: none;
    padding: 10px;
    
    &.active {
        background-color: $p300;
        
        a .post-title {
            color: $active_font_color;
        }
        
        .post-thumbnail {
            color: #fff;
        }
    }
    
    &:hover {
        background-color: $p500;
        
        a .post-title {
            color: $hover_font_color;
        }
        
        .post-thumbnail {
            color: #fff;
        }
    }
    
    a {
        text-decoration: none;
        height: $post_height;
        display: block;
        color: $default_font_color;
        outline: 0;
    }
    
    .post-thumbnail {
        width: $post_thumbnail_xs_width;
        height: $post_thumbnail_xs_height;
        float: left;
        margin: 0 10px 5px 0;
        border-radius: 50%;
        font-size: 40px;
        color: $p500;
            
        &.default {
            padding: 12px;
        }
    }
    
    .post-title-container {
        
        padding-left: $post_thumbnail_xs_width + 10px;
        
        .post-title {
            font-weight: bold;
            display: block;
            color: $p500;
        }
    
    }
    
    .post-info {
        
        clear: both;
        
        .post-info-label {
            float: left;
            font-weight: bold;
        }
        
        .post-info-values {
            
            .post-info-value {
                float: left;
                list-style-type: none;
                
                &:last-child {
                    float: none;
                }
            }
        }
        
    }
}