/* Just extra small devices */
@media (max-width: $screen-xs-max) {  }

/* Small devices (768px and up) */
@media (min-width: $screen-sm-min) { 
    
    ul.posts li.post {
        
        .post-title-container {    
            padding-left: $post_thumbnail_width + 10px;
        }
        .post-thumbnail {
            width: $post_thumbnail_width;
            height: $post_thumbnail_height;
            font-size: 50px;
            
            &.default {
                padding: 20px;
            }
        }
    }
}

/* Just small devices */
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {  }

/* medium devices (992px and up) */
@media (min-width: $screen-md-min) { }

/* Just medium devices */
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {  }

/* large devices (1200px and up) */
@media (min-width: $screen-lg-min) {  }