//BOOTSTRAP GRID SYSTEM VARIABLES
$screen-xs-max: 767px;
$screen-sm-min: 768px;
$screen-sm-max: 991px;
$screen-md-min: 992px;
$screen-md-max: 1199px;
$screen-lg-min: 1200px;

/*//SPECIAL BREAKPOINTS (NOT STANDARD)
$screen-min-400: 400px;*/

$default_font_family: Arial;
$default_font_color: #fff;
$default_font_size: 9pt;

//Colors
$hover_font_color: #000;
$active_font_color: #000;

//Primary Material Palette (pink)
$p50 : #FCE4EC;
$p100 : #F8BBD0;
$p200 : #F48FB1;
$p300 : #F06292;
$p400 : #EC407A;
$p500 : #E91E63;
$p600 : #D81B60;
$p700 : #C2185B;
$p800 : #AD1457;
$p900 : #880E4F;
$pa100 : #FF80AB;
$pa200 : #FF4081;
$pa400 : #F50057;
$pa700 : #C51162;

//Secondary Material Palette (indigo)
$s50 : #E8EAF6;
$s100 : #C5CAE9;
$s200 : #9FA8DA;
$s300 : #7986CB;
$s400 : #5C6BC0;
$s500 : #3F51B5;
$s600 : #3949AB;
$s700 : #303F9F;
$s800 : #283593;
$s900 : #1A237E;
$sa100 : #8C9EFF;
$sa200 : #536DFE;
$sa400 : #3D5AFE;
$sa700 : #304FFE;

$post_height: 100%;
$post_thumbnail_height: 90px;
$post_thumbnail_width: 90px;
$post_thumbnail_xs_height: 63px;
$post_thumbnail_xs_width: 63px;

$bg_color_gradient: black,gray;