<md-toolbar md-scroll-shrink>
    <div class="md-toolbar-tools">
        <a ng-click="closeSearchForm()" ui-sref="home">{{appTitle}}</a>
        <!-- fill up the space between left and right area -->
        <span ng-show="showSeparatorSpan" flex></span>
        
        <form flex hide-sm ng-show="showSearchForm" layout="row" class="searchForm" name="searchForm">
            <md-input-container flex="100" class="search-field-container no-padding">
                <input class="search-field" name="search" ng-model="searchString" 
                      ng-keypress="($event.which === 13) ? searchAction() : 0" 
                      md-maxlength="100">
                <div ng-messages="pepe.search.$error" ng-show="search.$dirty">
                  <div ng-message="required">This is required!</div>
                  <div ng-message="md-maxlength">That's too long!</div>
                  <div ng-message="minlength">That's too short!</div>
                </div>
            </md-input-container>
        </form>
        
        <md-button aria-label="Search post" class="no-margin" ng-click="searchAction()">
            <md-icon md-font-icon="fa-search" class="fa" alt="Search post"></md-icon>
        </md-button>
        <md-button aria-label="Random post" class="no-margin" ng-click="randomPostAction()">
            <md-icon md-font-icon="fa-cube" class="fa" alt="Random Post"></md-icon>    
        </md-button>
    </div>
    
    <form hide-gt-sm ng-show="showSearchForm" layout="row" class="searchForm" name="searchForm">
        <md-input-container flex="100" class="search-field-container no-padding">
            <input class="search-field" name="search" ng-model="searchString" 
                  ng-keypress="($event.which === 13) ? searchAction() : 0" 
                  md-maxlength="100">
            <div ng-messages="pepe.search.$error" ng-show="search.$dirty">
              <div ng-message="required">This is required!</div>
              <div ng-message="md-maxlength">That's too long!</div>
              <div ng-message="minlength">That's too short!</div>
            </div>
        </md-input-container>
    </form>
</md-toolbar>