<nav class="navbar navbar-fixed-top container-fluid">
    <div class="row">
        <!--        HEADER -->
        <div class="navbar-header col-xs-6 col-sm-3">
            <a ng-click="closeSearchForm()" ui-sref="home">{{appTitle}}</a>
        </div>
        
        <!--        ICON LIST-->
        <ul class="icon-list">
            <li class="icon-item" uib-dropdown is-open="status.isopen" keyboard-nav="true">
                <span uib-dropdown-toggle id="menu-button" class="glyphicon glyphicon-menu-hamburger icon" title="Menu"></span>
                <ul class="main-menu" uib-dropdown-menu role="menu" aria-labelledby="menu-button">
                    <li role="menuitem"><a href="#">Sign up free</a></li>
                    <li role="menuitem"><a href="#">Login</a></li>
                    <li class="divider"></li>
                    <li role="menuitem"><a href="#">Separated link</a></li>
                </ul>
            </li>
            <li class="icon-item">
                <span class="glyphicon glyphicon-random icon" title="Random Post" ng-click="randomPostAction()"></span>
            </li>
            <li class="icon-item">
                <span class="glyphicon glyphicon-search icon" title="Search Posts..." aria-hidden="true" ng-click="searchAction()"></span>
            </li>
        </ul>
        
        <!--        SEARCH FORM-->
        <form ng-show="showSearchForm" class="search-form col-xs-12 col-sm-6 col-md-7" name="searchForm">
            <div class="form-group">
                <input type="text" class="form-control search-input" name="searchInputField" placeholder="Search by..." 
                       ng-keypress="($event.which === 13) ? searchAction() : 0" ng-model="searchString">
            </div>
        </form>
        
    </div>
</nav>