/* line 1, sass/_main-app.scss */
.no-padding {
  padding: 0;
}

/* line 5, sass/_main-app.scss */
.no-margin {
  margin: 0;
}

/* line 9, sass/_main-app.scss */
.no-float {
  float: none;
}

/* line 13, sass/_main-app.scss */
.hideme {
  display: none !important;
}

/* line 17, sass/_main-app.scss */
.showme {
  display: block !important;
}

/* line 21, sass/_main-app.scss */
ul {
  margin: 0;
}

/* line 25, sass/_main-app.scss */
body {
  font-family: Arial;
  font-size: 9pt;
  color: #fff;
}

/* line 31, sass/_main-app.scss */
md-content#app-body-container {
  background: -webkit-linear-gradient(black, gray);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(black, gray);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(black, gray);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(black, gray);
  /* Standard syntax */
}
/* line 38, sass/_main-app.scss */
md-content#app-body-container md-tabs.posts-tabs-container .md-tab {
  color: #fff;
}
/* line 42, sass/_main-app.scss */
md-content#app-body-container md-tabs.posts-tabs-container .md-tab.md-active {
  color: #3f51b5;
}

/* line 2, sass/_nav-panel.scss */
shm-nav-panel md-toolbar button.md-button {
  min-width: 50px;
}
/* line 5, sass/_nav-panel.scss */
shm-nav-panel md-toolbar button.md-button md-icon {
  height: auto;
  font-size: 15pt;
}
/* line 11, sass/_nav-panel.scss */
shm-nav-panel md-toolbar .searchForm {
  margin: 0 16px 10px;
}
/* line 16, sass/_nav-panel.scss */
shm-nav-panel md-toolbar .searchForm .search-field-container input {
  padding: 0 10px;
  color: #FF007D;
  background-color: #fff;
  font-size: 11pt;
}
/* line 23, sass/_nav-panel.scss */
shm-nav-panel md-toolbar .searchForm .search-field-container .md-char-counter {
  display: none;
}
/* line 28, sass/_nav-panel.scss */
shm-nav-panel md-toolbar .searchForm .md-button {
  min-width: 50px;
}

/* Medium devices (tablets, 600px and up) */
@media (min-width: 600px) {
  /* line 6, sass/_nav-panel_r.scss */
  shm-nav-panel md-toolbar .searchForm {
    margin: 0 0 0 120px;
  }
}
/* large devices (desktops, 960px and up) */
/* line 1, sass/_post-list.scss */
md-list.posts {
  padding: 0;
}
/* line 4, sass/_post-list.scss */
md-list.posts md-list-item.load-more-posts {
  cursor: pointer;
  font-size: 12pt;
  list-style-type: none;
  padding: 10px;
  text-align: center;
  border-top: 1px solid;
}
/* line 12, sass/_post-list.scss */
md-list.posts md-list-item.load-more-posts button.md-button {
  background-color: transparent;
}
/* line 15, sass/_post-list.scss */
md-list.posts md-list-item.load-more-posts button.md-button:hover {
  background-color: transparent;
}
/* line 18, sass/_post-list.scss */
md-list.posts md-list-item.load-more-posts button.md-button .md-list-item-inner {
  justify-content: center;
}

/* line 25, sass/_post-list.scss */
md-list.posts md-list-item.post {
  list-style-type: none;
  padding: 10px;
}
/* line 29, sass/_post-list.scss */
md-list.posts md-list-item.post.active {
  background-color: #ea4e93;
}
/* line 32, sass/_post-list.scss */
md-list.posts md-list-item.post.active a .post-title {
  color: #000;
}
/* line 36, sass/_post-list.scss */
md-list.posts md-list-item.post.active .post-thumbnail {
  color: #fff;
}
/* line 41, sass/_post-list.scss */
md-list.posts md-list-item.post:hover {
  background-color: #FF007D;
}
/* line 44, sass/_post-list.scss */
md-list.posts md-list-item.post:hover a .post-title {
  color: #000;
}
/* line 48, sass/_post-list.scss */
md-list.posts md-list-item.post:hover .post-thumbnail {
  color: #fff;
}
/* line 53, sass/_post-list.scss */
md-list.posts md-list-item.post a {
  text-decoration: none;
  height: 100%;
  display: block;
  color: #fff;
}
/* line 60, sass/_post-list.scss */
md-list.posts md-list-item.post .post-thumbnail {
  width: 63px;
  height: 63px;
  float: left;
  margin: 0 10px 5px 0;
  border-radius: 50%;
  font-size: 53pt;
  color: #FF007D;
}
/* line 69, sass/_post-list.scss */
md-list.posts md-list-item.post .post-thumbnail.article {
  font-size: 45pt;
}
/* line 74, sass/_post-list.scss */
md-list.posts md-list-item.post .post-title-container {
  padding-left: 73px;
}
/* line 78, sass/_post-list.scss */
md-list.posts md-list-item.post .post-title-container .post-title {
  font-weight: bold;
  display: block;
  color: #FF007D;
}
/* line 86, sass/_post-list.scss */
md-list.posts md-list-item.post .post-info {
  clear: both;
}
/* line 90, sass/_post-list.scss */
md-list.posts md-list-item.post .post-info .post-info-label {
  float: left;
  font-weight: bold;
}
/* line 97, sass/_post-list.scss */
md-list.posts md-list-item.post .post-info .post-info-values .post-info-value {
  float: left;
  list-style-type: none;
}
/* line 101, sass/_post-list.scss */
md-list.posts md-list-item.post .post-info .post-info-values .post-info-value:last-child {
  float: none;
}

/* Medium devices (tablets, 600px and up) */
@media (min-width: 600px) {
  /* line 6, sass/_post-list_r.scss */
  md-list.posts md-list-item.post .post-title-container {
    padding-left: 100px;
  }
  /* line 9, sass/_post-list_r.scss */
  md-list.posts md-list-item.post .post-thumbnail {
    width: 90px;
    height: 90px;
    font-size: 72pt;
  }
  /* line 14, sass/_post-list_r.scss */
  md-list.posts md-list-item.post .post-thumbnail.article {
    font-size: 60pt;
  }
}
/* large devices (desktops, 960px and up) */
